
.container{
    @apply h-[800px] grid place-content-center bg-[#60a5fa];
}
.title{
    @apply text-2xl font-bold m-2 text-[#262626] dark:text-blue-700 text-center;
}
.form{
    @apply bg-[#e7e5e4] p-5 rounded-lg w-96 p-9 shadow-md;
}

.lable{ 
    @apply block mb-2 text-sm font-medium text-gray-900 dark:text-white;
}

.input{
    @apply shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light;
}
.error{
    @apply text-[#dc2626] text-sm mt-1;
}

.button{
    @apply text-white w-full bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800;
}
.auth{
    @apply flex items-center text-white  my-4 w-full bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800;
}